@font-face {
  font-family: 'Open Sans';
  src: url('/fonts/OpenSans-Regular.ttf');
}

body {
  font-family: 'Open Sans', 'Arial';
}

#sidebar {
  padding: 5px;
  background-color: #F8F8F8;
}

#content {
}

.callout .img-responsive {
  margin: 0 auto;
}
